:root {
    --orange-tan: #E8D0A9;
    --nomad-orange: #B7AFA3;
    --blue-green: #C1DAD6;
    --catskill-white: #f5fafa;
    --regent-blue: #ACD1E9;
    --gothic-blue: #6D929B;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    margin: 0;

}

header {
    min-width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    background-color: var(--regent-blue);
}
.branding{
  float:left;
}
.dropbtn {
    background-color: var(--orange-tan);
    color: var(--catskill-white);
    padding: 0;
    padding-top: 0.5vh;
    /* padding-bottom: 1vh; */
    font-size: 2empx;
    border: 1px solid var(--nomad-orange);
    border: none;
    height: 10vh;
    width: 12vw;
    padding: none;
}

.navbar {
    float: right;
    margin-right: 0;
    height: 10vh;
    width: 52vw;
    background-color: var(--orange-tan);
}
ul{
    width: 50vw;
    margin: 0;
}
li{
    width: 12vw;
    height: 4vh;
    margin: 0px;
    position: relative;
}
h3.alt{
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
    padding-top: 2.5vh;
    height: 7.5vh;
}
.navItem {
    background-color: var(--orange-tan);
    width: 12vw;
    height: 10vh;
}

.navItem:hover {
    background-color: var(--gothic-blue);
}

.navItem a {
    text-decoration: none;
}

.navItem a:active a:visited a:focus {
    text-decoration: none;
    color: var(--catskill-white);
}

a:-webkit-any-link {
    text-decoration: none;
    color: var(--catskill-white);
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    background-color: var (--orange-tan);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--orange-tan);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--catskill-white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
  
}

li {
    list-style: none;
    float: left;
    padding-bottom: 0;
    height: 6vh;
}

li a {
    text-decoration: none;
    padding: 16px;
}

.name {
    max-width: 100px;
    margin: 0;
    float: left;
}

.branding {
    max-width: fit-content;
    margin: 0;
}

/*Body*/

.welcomeMsg { grid-area: welcome; }
.lastQuestions { grid-area: questions; }
.newestPost { grid-area: posts; }


.grid-container {
  display: grid;
  background-color: #f5fafa;
  grid-template-areas:
   ' welcome welcome welcome welcome welcome welcome'
    ' questions questions questions posts posts posts'
    'questions questions questions posts posts posts';
  grid-gap: 1vw;
  background-color:white;
  padding: 0.5vw;
}
.grid-container > div {
    background-color: #B7AFA3;
    text-align: center;
  }
  .welcomeMsg{
    width: 99vw;
    height: 25vh;
  }
  .welcomeMsg p{
    font-size: 2em;
    margin: 0;
    margin-top: 1vh;
  }

  .lastQuestions{
      width: 49vw;
      height: 50vh;
      overflow-y: auto;
      overflow: scroll;
      overflow-x: hidden;
  }
  .newestPost{
      width: 49vw;
      height: 50vh;
      overflow-y: auto;
      overflow: scroll;
      overflow-x: hidden;
  }
