:root {
    --orange-tan: #E8D0A9;
    --nomad-orange: #B7AFA3;
    --blue-green: #C1DAD6;
    --catskill-white: #f5fafa;
    --regent-blue: #ACD1E9;
    --gothic-blue: #6D929B
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    margin: 0;
}

header {
    min-width: 100%;
    min-height: 100px;
    background-color: var(--regent-blue);
}

.dropbtn {
    background-color: var(--orange-tan);
    color: var(--catskill-white);
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--nomad-orange);
}

.navbar {
    float: right;
    margin-right: 75px;
}

.navItem {
    background-color: var(--orange-tan);
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--nomad-orange);
    margin: 16px;
}

.navItem:hover {
    background-color: var(--gothic-blue);
}

.navItem a {
    text-decoration: none;
    padding: 16px;
}

.navItem a:active a:visited a:focus {
    text-decoration: none;
    color: var(--catskill-white);
}

a:-webkit-any-link {
    text-decoration: none;
    color: var(--catskill-white);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--orange-tan);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--catskill-white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--gothic-blue);
}

li {
    list-style: none;
    float: left;
    margin-bottom: 8px;
}

li a {
    text-decoration: none;
    padding: 16px;
}

.name {
    max-width: 100px;
    margin: 0;
    float: left;
}

.branding {
    max-width: fit-content;
    margin: 0;
}

